<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="today" href="/tabs/today">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="habits" href="/tabs/habits">
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Habits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="weather" href="/tabs/weather">
      <ion-icon name="partly-sunny-outline"></ion-icon>
      <ion-label>Weather</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>